<h1>I am parent</h1>

<hr><br>

<!--=====================================================================================
                                  Single slot projection
======================================================================================-->
<!-- <app-input bg="primary" lable="Email Address" hint="Your email is required">
  <input type="text" (keyup.enter)="changeHandler($event)" placeholder="company email">
</app-input>
<br>
<app-input bg="warn" lable="password" hint="Secret...">
  <input type="password" (keyup.enter)="changeHandler($event)" placeholder="password">
</app-input>
<br>
<app-input bg="accent" lable="phone" hint="Indian numbers only">
  <input type="number" (keyup.enter)="changeHandler($event)">
</app-input>
<br>
<hr><br> -->


<!--=====================================================================================
                                  multi slot projection
======================================================================================-->
<!-- <app-input bg="primary">
  <label> Email Address </label>
  <input type="text" (keyup.enter)="changeHandler($event)" placeholder="company email">
  <small> Your Company Email </small>
</app-input>
<br>
<app-input bg="warn" lable="password" hint="Secret...">
  <input type="password" (keyup.enter)="changeHandler($event)" placeholder="password">
</app-input>
<br>
<app-input bg="accent" lable="phone" hint="Indian numbers only">
  <input type="number" (keyup.enter)="changeHandler($event)">
</app-input>
<br> -->



<!--=====================================================================================
                      use multi component projection using Templateref
======================================================================================-->
<!-- <app-input>
  <app-content-counter></app-content-counter>
</app-input> -->



<!--=====================================================================================
                use multi component projection with radio button & Template
======================================================================================-->
<ng-template #radioTemplate let-name let-n="iname">
  <input type="radio" [name]="n">
  {{name}}
</ng-template>

<app-input name="gender" [template]="radioTemplate" [value]="['male', 'female', 'other']">
  <label>Gender : </label>
</app-input>

<hr>

<app-input name="food" [template]="radioTemplate" [values]="['veg', 'non-veg']">
  <label>Food type : </label>
</app-input>
