<!--=====================================================================================
                                  Single slot projection
======================================================================================-->
<!-- <div class="form-control {{bg}}">
  <label> {{ lable }} </label>
  <ng-content></ng-content>
  <small> {{hint}} </small>
</div> -->



<!--=====================================================================================
                                  multi slot projection
======================================================================================-->
<!-- <div class="form-control {{bg}}">
  <ng-content select="label"></ng-content>
  <div>
    <ng-content></ng-content>
  </div>
  <ng-content select="small"></ng-content>
</div> -->



<!--=====================================================================================
                    use multi component projection using Templateref
======================================================================================-->
<!-- <div class="form-control {{bg}}">
  <button (click)="toggle()">Toggle</button>
  <ng-content *ngIf="show"></ng-content>
</div> -->



<!--=====================================================================================
                use multi component projection with radio button & Template
======================================================================================-->
<!-- <ng-content #name></ng-content>

<ng-container *ngFor="let value of values">
  <ng-container *ngTemplateOutlet="template; context: {$implicit: value, iname: name}"></ng-container>
</ng-container> -->
