.form-control {
  padding: 10px;
  margin: 5px;
  color: #fff;
  width: 25%;
  border-radius: 5px;
}

.form-control * {
  display: block;
}

.form-control input {
  margin: 8px 0px;
}

.primary {
  background: #3f51b5;
}

.accent {
  background: #3f51b5;
}

.warn {
  background: #f44336;
}
