<!--==============================================================================================
                                              Example-1
===============================================================================================-->
<!-- <section class="container">
  <form class="form-group" #regForm="ngForm" (ngSubmit)="register(regForm)">
    <h2 class="text-center">Registration Form</h2><br>
    <div>
      <label for="fName">First Name</label>
      <input type="text" class="form-control" placeholder="First Name" fName name="fName" ngModel required
        #fName="ngModel">
      <span class="text-danger" *ngIf="fName.touched && !fName.valid">Please enter firstname value.</span>
    </div><br>
    <div>
      <label for="lName">Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" lName name="lName" ngModel required
        #lName="ngModel">
      <span class="text-danger" *ngIf="lName.touched && !lName.valid">Please enter lastname value.</span>
    </div><br>
    <div>
      <label for="email">email </label>
      <input type="email" class="form-control" placeholder="Email ID" name="email" email ngModel required
        #email="ngModel">
      <span class="text-danger" *ngIf="email.touched && !email.valid">Please enter email value.</span>
    </div><br>
    <div class="text-center">
      <button class="btn btn-success" type="submit" id="Register" [disabled]="!regForm.valid">Register</button>
    </div>
  </form>
</section> -->




<!--==============================================================================================
                                              Example-2
===============================================================================================-->
<!-- <section class="container">
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <div class="input-div">
      <label for="firstname">First Name :</label>
      <input type="text" name="firstname" ngModel class="mx-3">
    </div>

    <div class="input-div">
      <label for="lastname">Last Name :</label>
      <input type="text" name="lastname" ngModel class="mx-3">
    </div>

    <div class="input-div">
      <label for="email">Email :</label>
      <input type="text" id="email" name="email" ngModel class="mx-3">
    </div>

    <div class="input-div">
      <p>Gender : </p>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio1">Male : </label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="male" ngModel selected>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio1">Female : </label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="female" ngModel>
      </div>
    </div>

    <p>Merried Status :</p>
    <div class="input-div form-check form-switch">
      <label for="isMarried">Married</label>
      <input type="checkbox" class="form-check-input" role="switch" name="isMarried" ngModel
        style="margin-right: 10px;">
    </div>

    <div class="input-div">
      <select name="country" ngModel>
        <option selected disabled>select country</option>
        <option [ngValue]="c.id" *ngFor="let c of countryList">
          {{c.name}}
        </option>
      </select>
    </div>

    <div class="input-div">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>

  <pre>Value : {{contactForm.value | json }} </pre>
  <pre>Valid : {{contactForm.valid}} </pre>
  <pre>Touched : {{contactForm.touched  }} </pre>
  <pre>Submitted : {{contactForm.submitted  }} </pre>

</section> -->




<!--==============================================================================================
                          Radio button & checkbox in Template Driven Form
===============================================================================================-->
<section class="container mt-5">
  <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
    <table class="form-group w-50 form-table">
      <!-------- name -------->
      <tr class="border-bottom">
        <td>Name :</td>
        <td>
          <input type="text" name="uname" [ngModel]="user.username" required #uname="ngModel" class="form-control">
          <small class="text-danger" *ngIf="uname.invalid">name is required</small>
        </td>
      </tr>
      <!-------- gender -------->
      <tr class="border-bottom">
        <td>Gender :</td>
        <td class="form-check">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="male" [ngModel]="user.gender" required
              #gender="ngModel">Male
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="Female" [ngModel]="user.gender" required
              #gender="ngModel">Female
          </div><br>
          <small class="text-danger" *ngIf="gender.invalid">gender is required</small>
        </td>
      </tr>
      <!-------- married -------->
      <tr class="border-bottom">
        <td>Are you merried : </td>
        <td class="form-check">
          <input type="checkbox" name="married" [ngModel]="user.isMarried" class="form-check-input">
        </td>
      </tr>
      <!-------- T & C -------->
      <tr class="border-bottom">
        <td>Accept T & C : </td>
        <td class="form-check">
          <input type="checkbox" name="tc" [ngModel]="user.isTCAccepted" readonly #tc="ngModel"
            class="form-check-input">
          <small class="text-danger" *ngIf="tc.invalid">Accept T & C</small>
        </td>
      </tr>
      <!-------- T & C -------->
      <tr class="border-bottom text-center">
        <td colspan="2">
          <button class="btn btn-success">Submit</button>
          <button class="btn btn-primary mx-3" type="button" (click)="setDefaultValue()">set Default</button>
          <button class="btn btn-danger" type="button" (click)="resetForm(userForm)">reset</button>
        </td>
      </tr>
    </table>
  </form>
</section>
