<!---====================================================================================
                                      simple Example
======================================================================================-->
<ng-template #template1>
  <p>This is our template. It will be displayed on the div...</p>
</ng-template>

<ng-template [ngTemplateOutlet]="template1">
  <div></div>
</ng-template>
<hr style="background-color: red;">




<!---====================================================================================
                            Passing data to ngTemplateOutlet
======================================================================================-->
<ng-template let-value="value" #Template2>
  <p>Value Received from the Parent is {{value}}</p>
</ng-template>

<ng-container [ngTemplateOutlet]="Template2" [ngTemplateOutletContext]="{value:'1000'}">
</ng-container>
<hr style="background-color: red;">




<!---====================================================================================
                                  Pass more than one value
======================================================================================-->
<ng-template let-name="nameVar" let-message="messageVar" #Template3>
  <p>Dear {{name}} , {{message}} </p>
</ng-template>

<ng-container [ngTemplateOutlet]="Template3"
  [ngTemplateOutletContext]="{nameVar:'Guest',messageVar:'Welcome to our site'}">
</ng-container>
<hr style="background-color: red;">




<!---====================================================================================
                                  Pass an object
======================================================================================-->
<ng-template let-person="person" #template4>
  <p>Hello {{person.name}} , {{person.message}} </p>
</ng-template>

<ng-container [ngTemplateOutlet]="template4"
  [ngTemplateOutletContext]="{ person:{name:'Haresh',message:'Welcome to World'} }">
</ng-container>
<hr style="background-color: red;">



<!---====================================================================================
                                  Using $implicit
======================================================================================-->
<ng-template let-name let-message="message" #template5>
  <p>Dear {{name}} , {{message}} </p>
</ng-template>

<ng-container [ngTemplateOutlet]="template5"
  [ngTemplateOutletContext]="{$implicit:'Rutvik',message:'Welcome to our company'}">
</ng-container>
<hr style="background-color: red;">


<!---====================================================================================
                                  use Multiple time
======================================================================================-->
<ng-template #brand let-data let-person="name">
  <section class="brand">
    <img src="https://picsum.photos/200" alt="">
    <h3> {{person}}</h3>
  </section>
</ng-template>

<!--====================== Header ====================-->
<header>
  <ng-container *ngTemplateOutlet="brand; context: Brand1"></ng-container>
  <nav>
    <ul>
      <li>About</li>
      <li>Profile</li>
      <li>Log out</li>
    </ul>
  </nav>
</header>

<!--====================== Content ====================-->
<section>
  <form action="#">
    <legend>
      <ng-container *ngTemplateOutlet="brand; context: Brand2"></ng-container>
    </legend>
    <hr>
    Email: <input type="text"><br><br>
    Password <input type="text">
  </form>
</section>
<hr style="width: 40%; float: left;"><br>

<!--====================== Footer ====================-->
<footer>
  <ng-container *ngTemplateOutlet="brand; context: Brand3"></ng-container>
  <p>company info here &copy; 2019</p>
</footer>
<hr style="background-color: red;">



<!---====================================================================================
                                  use Multiple time
======================================================================================-->
<h1>ngTemplateOutlet Example</h1>
<label for="mode">Display Mode:</label>
<select [(ngModel)]="mode">
  <option *ngFor="let item of modeOptions" [ngValue]="item.mode">{{item.mode}}</option>
</select>
<ng-template let-items #cardTemplate>
  <div *ngFor="let item of items">
    <h1>{{item.header}}</h1>
    <p>{{item.content}}</p>
  </div>
</ng-template>
<ng-template let-items #listTemplate>
  <ul>
    <li *ngFor="let item of items">
      <strong>{{item.header}} </strong> ( {{item.content}} )
    </li>
  </ul>
</ng-template>
<item-view [itemTemplate]="template" [items]="items">
</item-view>
