<!---====================================================================================
                                      simple Example
======================================================================================-->
<ng-template #template1>
  <p>This is our template. It will be displayed on the div...</p>
</ng-template>

<ng-template [ngTemplateOutlet]="template1">
  <div></div>
</ng-template>
<hr style="border-top: 2px solid red;">




<!---====================================================================================
                            Passing data to ngTemplateOutlet
======================================================================================-->
<ng-template let-value="value" #Template2>
  <p>Value Received from the Parent is {{value}}</p>
</ng-template>

<ng-container [ngTemplateOutlet]="Template2" [ngTemplateOutletContext]="{value:'1000'}">
</ng-container>
<hr style="border-top: 2px solid red;">




<!---====================================================================================
                                  Pass more than one value
======================================================================================-->
<ng-template let-name="nameVar" let-message="messageVar" #Template3>
  <p>Dear {{name}} , {{message}} </p>
</ng-template>

<ng-container [ngTemplateOutlet]="Template3"
  [ngTemplateOutletContext]="{nameVar:'Guest',messageVar:'Welcome to our site'}">
</ng-container>
<hr style="border-top: 2px solid red;">




<!---====================================================================================
                                  Pass an object
======================================================================================-->
<ng-template let-person="person" #template4>
  <p>Hello {{person.name}} , {{person.message}} </p>
</ng-template>

<ng-container [ngTemplateOutlet]="template4"
  [ngTemplateOutletContext]="{ person:{name:'Haresh',message:'Welcome to World'} }">
</ng-container>
<hr style="border-top: 2px solid red;">



<!---====================================================================================
                                  Using $implicit
======================================================================================-->
<ng-template let-name let-message="message" #template5>
  <p>Dear {{name}} , {{message}} </p>
</ng-template>

<ng-container [ngTemplateOutlet]="template5"
  [ngTemplateOutletContext]="{$implicit:'Rutvik',message:'Welcome to our company'}">
</ng-container>
<hr style="border-top: 2px solid red;">


<!---====================================================================================
                        use Multiple time using varible & object
======================================================================================-->
<ng-template #brand let-data let-person="name">
  <section class="brand">
    <img src="https://picsum.photos/200" alt="">
    <h3> {{person}}</h3>
  </section>
</ng-template>

<!--====================== Header ====================-->
<header>
  <!-- <ng-container *ngTemplateOutlet="brand; context: Brand1"></ng-container> -->
  <ng-container *ngTemplateOutlet="brand; context: {name: 'haresh Brand'}"></ng-container>

  <nav>
    <ul>
      <li>About</li>
      <li>Profile</li>
      <li>Log out</li>
    </ul>
  </nav>
</header>


<!--====================== Content ====================-->
<section>
  <form action="#">
    <legend>
      <!-- <ng-container *ngTemplateOutlet="brand; context: Brand2"></ng-container> -->
      <ng-container *ngTemplateOutlet="brand; context: {name: 'Rutvik Brand'}"></ng-container>
    </legend>
    <hr>
    Email: <input type="text"><br><br>
    Password <input type="text">
  </form>
</section>
<hr style="width: 40%; float: left;"><br>

<!--====================== Footer ====================-->
<footer>
  <!-- <ng-container *ngTemplateOutlet="brand; context: Brand3"></ng-container> -->
  <ng-container *ngTemplateOutlet="brand; context: {name: 'Parth Brand'}"></ng-container>
  <p>company info here &copy; 2019</p>
</footer>
<hr style="border-top: 2px solid red;">


<!---====================================================================================
                                      use $implicit
======================================================================================-->
<ng-template #uname let-name="$implicit">
  <section>
    <img src="https://picsum.photos/200" alt="img">
    <h3>{{name}}</h3>
  </section>
</ng-template>

<section>
  <ng-container *ngTemplateOutlet="uname; context: {$implicit: 'Sign up'}"></ng-container>
</section>
<hr style="border-top: 2px solid red;">



<!---====================================================================================
                      print multiple value in object using $implicit
======================================================================================-->
<ng-template #uname let-data let-s="size" let-name>
  <section>
    <img src="https://picsum.photos/{{s}}" alt="img">
    <h3>{{name}}</h3>
  </section>
</ng-template>

<section>
  <ng-container *ngTemplateOutlet="uname; context: {$implicit: 'Sign up', size: 400}"></ng-container>
</section>
<hr style="border-top: 2px solid red;">
