 /*----- practice example - 1 -----*/
 .textSize {
   font-size: 10px;
 }

 .primary {
   color: blue;
 }

 .success {
   color: green;
 }

 .danger {
   color: tomato;
 }

 .warning {
   color: yellow;
 }
