<!--======================= Example-1 =======================-->
<ng-template [ngIf]="isLoggedIn">
  <h2 [class]="'green'">I am ngIf part with Bracket...</h2>
</ng-template>

<ng-template [ngIf]="!isLoggedIn">
  <p [class]="'red'">I am ngIf else part with Bracket...</p>
</ng-template>
<hr>

<!--======================= Example-2 =======================-->
<div *ngIf="isLoggedIn">
  <h2 [class]="'green'">I am ngIf part without bracket...</h2>
</div>

<ng-template [ngIf]="!isLoggedIn">
  <p [class]="'red'">I am ngIf condition single bracket part...</p>
</ng-template>
<hr>

<!--======================= Example-3 =======================-->
<div *ngIf="isLoggedIn; else elseblock">
  <h2 [class]="'green'">I am Logged In...</h2>
</div>

<ng-template #elseblock>
  <p [class]="'red'">You are Else Block...</p>
</ng-template>
<hr>


<!--======================= Example-4 =======================-->
<div *ngIf="isLoggedIn; then profile else logout"></div>

<!-- angular convert this type -->
<ng-template [ngIf]="isLoggedIn" [ngIfThen]="profile" [ngIfElse]="logout"></ng-template>

<ng-template #profile>
  <h2 [class]="'green'">profile page</h2>
</ng-template>

<ng-template #logout>
  <p [class]="'red'">logout page</p>
</ng-template>
<hr><br>



<!--======================= Example-5 =======================-->
<div *ngFor="let item of names">
  {{item}}
</div>

<!-- angular convert this type -->
<ng-template ngFor let-name let-i="index" [ngForOf]="names">
  <div>{{name}}</div>
</ng-template>
<br>
<hr>

<!--======================= Example-6 =======================-->
<div [ngSwitch]="name">
  <p *ngSwitchCase="'h'">Haresh</p>
  <p *ngSwitchCase="'r'">Rutvik</p>
  <p *ngSwitchCase="'p'">Parth</p>
  <p *ngSwitchDefault>I am nothing</p>
</div>

<!--angular behind the seen working-->
<div [ngSwitch]="name">
  <ng-template [ngSwitchCase]="'h'">
    <p>Haresh</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'r'">
    <p>Rutvik</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'p'">
    <p>Parth</p>
  </ng-template>
  <ng-template ngSwitchDefault>
    <p>I am nothing</p>
  </ng-template>
</div>
<hr>


<!--======================= Example-7 =======================-->
<button (click)="update()">Show/Hide</button>

<ng-template [ngIf]="show">
  <app-counter></app-counter>
</ng-template>
