input.ng-invalid.ng-touched {
  border-color: tomato;
  box-shadow: none;
}

input:hover{
  box-shadow: none;
  border: none;
}

input:focus {
  box-shadow: none;
}

.error-msg {
  font-size: 13px;
  font-weight: 600;
  margin: -15px 0 15px 0;
  padding: 2px 0 4px 5px;
  border-radius: 3px;
  color: tomato;
  background-color: rgb(255, 208, 200);
}

.valid-msg {
  font-size: 16px;
  width: 450px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 15px 0;
  padding: 10px 0 0px 5px;
  border-radius: 3px;
  color: rgb(0, 171, 63);
  background-color: rgb(160, 255, 195);
}


.form-title {
  font-weight: 500;
  color: tomato;
  text-align: center;
}


.example-card{
  width: 75%;
  margin: 0 auto;
  border: 1px dashed #3f51b5;
  box-shadow: 0 0 10px silver;
  border-radius: 10px;
  padding: 20px 20px 20px 20px!important;
}

.example-form {
  width: 100%!important;
}

.example-full-width {
  width: 100%!important;
}

.primary-color {
  margin: 20px 0 20px 0;
  color: #3f51b5!important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.primary-color sup {
  color: #f44336!important;
}

.conent-center {
  text-align: center;
  margin-top: 10px;
}

.conent-center button {
  margin: 0 10px 0 10px;
}