<!--=========================================================================================================
                                      simple form with normal validation
==========================================================================================================-->
<!-- <section class="container mt-5">
  <form [formGroup]="signupForm" (ngSubmit)="postData(signupForm)">
    <div class="form-group">
      <input type="text" class="form-control w-50" formControlName="fname" placeholder="your first name">
      <br><br>
      <input type="text" class="form-control w-50" formControlName="lname" placeholder="your last name">
      <br><br>
      <input type="email" class="form-control w-50" formControlName="emailid" placeholder="your email id">
      <br><br>
      <input type="password" class="form-control w-50" formControlName="userpassword" placeholder="your password">
    </div>
    <br>
    <input type="submit" value="post data" [disabled]='!signupForm.valid'>
  </form>
</section> -->



<!--=========================================================================================================
                                    Reactive form with built-in validation
==========================================================================================================-->
<!-- <section class="container mt-5">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row"> -->
<!--==================== first Name ====================-->
<!-- <div class="col-md-6">
        <div>
          <label for="firstname">First Name : </label><br>
          <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname">
        </div>
        <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)">
          <small *ngIf="['!firstname.errors.required']">
            First Name is required... &
          </small>
          <small *ngIf="['!firstname.errors.minlength']">
            Min Length is 3 character...
          </small>
        </div>
      </div> -->


<!--==================== last Name ====================-->
<!-- <div class="col-md-6">
        <div>
          <label for="lastname">Last Name : </label>
          <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname">
        </div>
        <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)">
          <small *ngIf="['!lastname.errors.pattern']">
            Only characters are allowed... &
          </small>
          <small *ngIf="['!lastname.errors.maxLength']">
            MaxLength allowed is 15 character only... &
          </small>
          <small *ngIf="['!lastname.errors.required']">
            Last Name is required...
          </small>
        </div>
      </div> -->


<!--==================== email id ====================-->
<!-- <div class="col-md-12">
        <div>
          <label for="email">Email : </label>
          <input type="text" class="form-control" id="email" name="email" formControlName="email">
        </div>
        <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!email.valid && (email.dirty || email.touched)">
          <small *ngIf="['!email.errors.required']">
            email is required... &
          </small>
          <small *ngIf="['!email.errors.email']">
            invalid email id
          </small>
        </div>
      </div> -->


<!--==================== gender ====================-->
<!-- <div class="col-md-4 mt-4">
        <p>Gender :</p>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" value="male" id="male" name="gender" formControlName="gender">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" value="female" id="female" name="gender"
            formControlName="gender">
          <label class="form-check-label" for="female">Female</label>
        </div>
        <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!gender.valid && (gender.dirty || gender.touched)">
          <small *ngIf="['!gender.errors.required']">
            select gender
          </small>
        </div>
      </div> -->


<!--==================== merried status ====================-->
<!-- <div class="col-md-4 mt-4">
        <p>merried status :</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
          <label class="form-check-label" for="isMarried">Married</label>
        </div> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!isMarried.valid && (isMarried.dirty || isMarried.touched)">
          <small *ngIf="['!isMarried.errors.required']">
            isMarried is required
          </small>
        </div>
      </div> -->


<!--==================== country Name ====================-->
<!-- <div class="col-md-4 mt-4">
        <div>
          <label for="country">select country :</label>
          <select class="form-select form-select-sm" id="country" name="country" formControlName="country"
            value="select country">
            <option selected value="select country">--- select country ---</option>
            <option [ngValue]="c.id" *ngFor="let c of countryList">
              {{c.name}}
            </option>
          </select>
        </div>
        <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!country.valid && (country.dirty || country.touched)">
          <small *ngIf="['!country.errors.required']">
            country is required
          </small>
        </div>
      </div> -->


<!-- <div class="row mt-4" formGroupName="address"> -->
<!--==================== City ====================-->
<!-- <div class="col-md-4">
          <div class="form-group">
            <label for="city">City :</label>
            <input type="text" class="form-control" name="city" formControlName="city">
          </div>
          <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!city.valid && (city.dirty || city.touched)">
            <small *ngIf="['!city.errors.required']">
              city is required
            </small>
          </div>
        </div> -->

<!--==================== street ====================-->
<!-- <div class="col-md-4">
          <div class="form-group">
            <label for="street">Street :</label>
            <input type="text" class="form-control" name="street" formControlName="street">
          </div>
          <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!street.valid && (street.dirty || street.touched)">
            <small *ngIf="['!street.errors.required']">
              street is required
            </small>
          </div>
        </div> -->

<!--==================== street ====================-->
<!-- <div class="col-md-4">
          <div class="form-group">
            <label for="pincode">Pin Code :</label>
            <input type="text" class="form-control" name="pincode" formControlName="pincode">
          </div>
          <br> -->
<!--------- field error --------->
<!-- <div class="error-msg" *ngIf="!pincode.valid && (pincode.dirty || pincode.touched)">
            <small *ngIf="['!pincode.errors.required']">
              pincode is required
            </small>
          </div>
        </div>
      </div> -->


<!--==================== submit button ====================-->
<!-- <div class="col-md-12 text-center mt-5">
        <button class="btn btn-primary px-5" type="submit" [disabled]="!contactForm.valid">Submit</button>
        <button class="btn btn-danger px-5 mx-4" (click)="resetForm()" type="submit"
          [disabled]="!contactForm.valid">Reset</button>
      </div> -->

<!--==================== Form valid message ====================-->
<!-- <div class="mt-4" [class]="!contactForm.valid ? '' :'valid-msg'">
        <p *ngIf="contactForm.valid">Form is Valid</p>
      </div>


    </div>
  </form>
</section> -->




<!--=========================================================================================================
                                  Reactive form with postData() & reserData()
==========================================================================================================-->
<!-- <section class="container mt-5">
  <h2>Reactive Forms</h2>
  <form [formGroup]="signupForm">

    <div class="form-group">
      <input type="text" class="form-control" formControlName="fname" placeholder="your first name">
      <small class="text-danger" *ngIf="signupForm.controls['fname'].hasError('required')">
        first name is required
      </small>
    </div>
    <br>

    <div class="form-group">
      <input class="form-control" type="text" formControlName="lname" placeholder="your last name">
    </div>
    <br>

    <div class="form-group">
      <input class="form-control" type="email" formControlName="emailid" placeholder="your email id">
    </div>
    <br>

    <div class="form-group">
      <input class="form-control" type="password" formControlName="pass" placeholder="your password">
    </div>
    <br>

    <div class="form-group">
      <input class="form-control" type="number" formControlName="age" placeholder="your age">
    </div>
    <br>

    <div class="text-center">
      <button class="btn btn-success px-4" type="submit" (click)="postData()" [disabled]="!signupForm.valid">Submit</button>
      <button class="btn btn-danger px-4 mx-4" type="reset" (click)="resetForm()" [disabled]="!signupForm.valid">Reset</button>
      <button class="btn btn-primary px-4" (click)="fillData()">Fill Data</button>
    </div>
  </form>
</section> -->





<!--=========================================================================================================
                                Reactive form Add Dynamic single new FormControl
==========================================================================================================-->
<!-- <section class="container mt-5">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="form-group">
    <div formArrayName="contactNo">
      <div *ngFor="let contact of dynamicForm.controls.contactNo.controls; index as i">
        <input [formControlName]="i" placeholder="contact no." class="form-control w-75  d-inline-block">
        <button class="btn btn-danger rounded-circle ms-3" (click)="removeContact(i)" [disabled]="!dynamicForm.valid">
          <i class="fa fa-trash"></i>
        </button><br>
        <br>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!dynamicForm.valid">Sunbmit</button>
  </form>

  <br><br>

  <button class="btn btn-success" (click)="addContactNo()" [disabled]="!dynamicForm.valid">Add New Contact No</button>
  <button class="btn btn-danger mx-3" (click)="setPreset()">Set Preset</button>
</section> -->





<!--=========================================================================================================
                            Reactive form Add new Dynamic Multiple row FormControl
==========================================================================================================-->
<!-- <section class="container mt-5">
  <form novalidate [formGroup]="HareshFormGroup">
    <div class="row">
      <div class="col-lg-12 form-group">
        <div formGroupName="itemRows">
          <h3 class="form-title">Form Detail</h3><br>

          <ng-container *ngIf="getControls() != null">
            <div *ngFor="let itemrow of getControls(); let i = index;" [formGroupName]="i">
              <div class="row"> -->
<!-------- Name -------->
<!-- <div class="col">
                  <input placeholder="Name" formControlName="Name" class="form-control">
                </div> -->
<!-------- RollNo -------->
<!-- <div class="col">
                  <input placeholder="RollNo" formControlName="RollNo" class="form-control" required>
                </div> -->
<!-------- Class -------->
<!-- <div class="col">
                  <input placeholder="Class" formControlName="Class" class="form-control" required>
                </div> -->
<!-------- MobileNo -------->
<!-- <div class="col">
                  <input placeholder="MobileNo" formControlName="MobileNo" class="form-control" required>
                </div> -->
<!-------- deleteRow Button -------->
<!-- <div class="col form-group text-center bg-light">
                  <button class="btn btn-danger rounded-circle" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div><br>
            </div>
          </ng-container> -->

<!-------- addNewRow Button -------->
<!-- <div class="form-group text-right">
            <button type="button" class="btn btn-primary" (click)="addNewRow()" [disabled]="HareshFormGroup.invalid">
              Add More
            </button>
          </div>

        </div>
      </div>
    </div>
  </form>
</section> -->





<!--=========================================================================================================
                                    Reactive form with reactive form
==========================================================================================================-->
<section class="container-fluid mt-5">
  <mat-card class="example-card">
    <mat-card-title class="primary-color">Reactive Form With Angular Material <sup>*</sup></mat-card-title>
    <mat-card-content>
      <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
        <div class="row align-items-center">
          <!------- FirstName ------->
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput #FirstName formControlName="FirstName">
              <mat-hint align="end">{{FirstName.value.length}} / 15</mat-hint>
              <mat-error *ngIf="!regiForm.get('FirstName').valid && regiForm.get('FirstName').touched">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
          <!------- LastName ------->
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>LastName</mat-label>
              <input matInput formControlName="LastName" #LastName>
              <mat-hint align="end">{{LastName.value.length}} / 15</mat-hint>
              <mat-error *ngIf="!regiForm.get('LastName').valid && regiForm.get('LastName').touched">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
          <!------- Address ------->
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput formControlName="Address" placeholder="enter address" #Address></textarea>
              <mat-hint align="end">{{Address.value.length}} / 150</mat-hint>
              <mat-error *ngIf="!regiForm.get('Address').valid && regiForm.get('Address').touched">
                Please select Address
              </mat-error>
            </mat-form-field>
          </div>
          <!------- DOB ------->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input formControlName="DOB" matInput [matDatepicker]="picker" placeholder="select a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="!regiForm.get('DOB').valid && regiForm.get('DOB').touched">
              Please select a Date
            </mat-error>
          </div>
          <!------- Gender ------->
          <div class="col-md-6">
            <mat-label class="fw-bold">Gender :</mat-label>&nbsp;&nbsp;&nbsp;
            <mat-radio-group formControlName="Gender" class="example-full-width">
              <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
          </div>
          <!------- Select Dropdown ------->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Choose one</mat-label>
              <mat-select formControlName="Playlist">
                <mat-option>-- Select --</mat-option>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!regiForm.get('Playlist').valid && regiForm.get('Playlist').touched">
                Please select option
              </mat-error>
            </mat-form-field>
          </div>
          <!------- Email ------->
          <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <input formControlName="Email" matInput placeholder="Enter Email">
              <mat-hint>use like: demo@demo.com</mat-hint>
              <mat-error *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">
                Enter Proper Email !!!
              </mat-error>
            </mat-form-field>
          </div>
          <!------- Accept Term & Condition ------->
          <div class="col-md-6">
            <mat-slide-toggle formControlName="IsAccepted" (change)="onChanage($event)">
              Accept Term & Condition
            </mat-slide-toggle>
          </div>
          <!------- Submit ------->
          <div class="col-md-6" class="conent-center">
            <button mat-raised-button color="primary" [disabled]="!regiForm.valid || IsAccepted == 0">Submit</button>
            <button mat-raised-button color="accent" [disabled]="regiForm.valid">Reset</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>