/*=======================================================================================
                                        *ng-if
========================================================================================*/
select {
  width: 300px;
  padding: 15px;
}

option {
  font-size: 20px;
  color: tomato;
}

// .hide {
//   display: none;
// }


/*=======================================================================================
                                        *ng-for
========================================================================================*/
.po-div {
  display: inline-block;
  width: 250px;
  border-right: 2px solid gray;
  margin: 5px;
  padding: 5px;
}

input {
  display: block;
}



/*=======================================================================================
                                        *ng-switch
========================================================================================*/
ul {
  margin-bottom: 5px;
  border-bottom: 2px solid #000;
}

li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid red;
  color: red;
}
