<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 100%;">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 100%;">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 100%;">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 100%;">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
    </div>
</div>

