<div style="width: 100%; height: 100vh!important; position: fixed;">
  <mat-toolbar color="primary">
    <div class="nav-container">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle(); close()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>lazy-loading works...!</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <!------- Admin Module ------->
          <button mat-button [matMenuTriggerFor]="menu">Admin Module</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="admin/list">List Component</button>
            <button mat-menu-item routerLink="admin/login">Login Component</button>
          </mat-menu>

          <!------- Product Module ------->
          <button mat-button [matMenuTriggerFor]="menu1">product Module</button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item routerLink="product/brand">Brand Component</button>
            <button mat-menu-item routerLink="product/new-brand">New Brand Component</button>
            <button mat-menu-item routerLink="product/refurb">Refurb Component</button>
            <button mat-menu-item routerLink="product/second-hand">Second-Hand Component</button>
          </mat-menu>

          <!------- Student Module ------->
          <button mat-button [matMenuTriggerFor]="menu3">Student Module</button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item routerLink="student/education">Education Component</button>
            <button mat-menu-item routerLink="student/fees">Fees Component</button>
            <button mat-menu-item routerLink="student/profile">Profile Component</button>
          </mat-menu>

          <!------- User Module ------->
          <button mat-button [matMenuTriggerFor]="menu4">User Module</button>
          <mat-menu #menu4="matMenu">
            <button mat-menu-item routerLink="user/services">Services Component</button>
            <button mat-menu-item routerLink="user/sheets">Sheets Component</button>
            <button mat-menu-item routerLink="user/signin">Signin Component</button>
            <button mat-menu-item routerLink="user/signup">Signup Component</button>
          </mat-menu>

          <!------- Login Button ------->
          <button mat-raised-button routerLink="lazyLoading/mainLogin" class="ms-2"><mat-icon>supervised_user_circle</mat-icon> Login</button>
          <button mat-raised-button routerLink="lazyLoading/cart" class="ms-3"><mat-icon>add_shopping_cart</mat-icon> Cart</button>
        </div>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav class="sidenav-drawer">
      <mat-nav-list>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

        <!------- Admin Module ------->
        <a mat-list-item [matMenuTriggerFor]="menu">Admin Module</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="admin/list">List Component</button>
          <button mat-menu-item routerLink="admin/login">Login Component</button>
        </mat-menu>

        <!------- Product Module ------->
        <a mat-list-item [matMenuTriggerFor]="menu1">product Module</a>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item routerLink="product/brand">Brand Component</button>
          <button mat-menu-item routerLink="product/new-brand">New Brand Component</button>
          <button mat-menu-item routerLink="product/refurb">Refurb Component</button>
          <button mat-menu-item routerLink="product/second-hand">Second-Hand Component</button>
        </mat-menu>

        <!------- Student Module ------->
        <a mat-list-item [matMenuTriggerFor]="menu3">Student Module</a>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item routerLink="student/education">Education Component</button>
          <button mat-menu-item routerLink="student/fees">Fees Component</button>
          <button mat-menu-item routerLink="student/profile">Profile Component</button>
        </mat-menu>

        <!------- User Module ------->
        <a mat-list-item [matMenuTriggerFor]="menu4">User Module</a>
        <mat-menu #menu4="matMenu">
          <button mat-menu-item routerLink="user/services">Services Component</button>
          <button mat-menu-item routerLink="user/sheets">Sheets Component</button>
          <button mat-menu-item routerLink="user/signin">Signin Component</button>
          <button mat-menu-item routerLink="user/signup">Signup Component</button>
        </mat-menu>
      </mat-nav-list>
    </mat-sidenav>

    <!----------------- Body ----------------->
    <mat-sidenav-content fxFlexFill class="p-3">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>