<h1>Home Component Work</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card main-card">
            <div class="card-inner">
                <h2>Home Card Component</h2>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="warn">Accent</button>
            </div>
        </div>
    </div>
</div>