<!-- <app-parent></app-parent> -->

<!-- <app-child-component></app-child-component> -->

<!-- <app-parent-component></app-parent-component> -->

<!-- <app-one-way-data-binding></app-one-way-data-binding> -->

<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<!-- <app-practice-example></app-practice-example> -->

<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-templete-reference-variable></app-templete-reference-variable> -->

<!-- <app-child-input-output></app-child-input-output> -->

<!-- <app-parent-input-output></app-parent-input-output> -->

<!-- <app-ng-container></app-ng-container> -->

<!-- <app-ng-templete></app-ng-templete> -->

<!-- <app-host-listener-host-binding></app-host-listener-host-binding> -->

<!-- <app-ng-template-outlet></app-ng-template-outlet> -->

<!-- <app-content-projection></app-content-projection> -->

<!-- <app-github-type-example></app-github-type-example> -->

<!-- <app-life-cycle-hook-component></app-life-cycle-hook-component> -->

<!-- <app-custom-routing></app-custom-routing> -->

<!-- <app-forms></app-forms> -->

<!-- <app-to-do-list></app-to-do-list> -->

<!-- <app-services></app-services> -->

<!-- <app-module></app-module> -->

<!-- <app-group-routing></app-group-routing> -->

<!-- <app-lazy-loading></app-lazy-loading> -->

<!-- <app-lazy-load-component></app-lazy-load-component> -->

<!-- <app-create-dynamic-component></app-create-dynamic-component> -->

<router-outlet></router-outlet>
