<!-- <app-parent></app-parent> -->

<!-- <app-child-component></app-child-component> -->

<!-- <app-parent-component></app-parent-component> -->

<!-- <app-one-way-data-binding></app-one-way-data-binding> -->

<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<!-- <app-practice-example></app-practice-example> -->

<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-templete-reference-variable></app-templete-reference-variable> -->

<!-- <app-child-input-output></app-child-input-output> -->

<!-- <app-parent-input-output></app-parent-input-output> -->

<app-ng-templete></app-ng-templete>
