<!--=======================================================================================
                                          ng-style
========================================================================================-->
<div [ngStyle]="myStyle">hello world</div>
<button (click)="addStyle()">Add Style</button>



<!--=======================================================================================
                                          ng-class
========================================================================================-->
<div [ngClass]="myClasses">hello world</div>

<button (click)="changeShape()">changeShape</button>
