<section class="container" style="border: 10px solid dodgerblue; margin-bottom: 50px;">

    <h1 class="text-danger">services component</h1>

    <form #usersForm="ngForm" class="form-group" (ngSubmit)="getUserFormData(usersForm.value)">
        <input type="text" class="form-control" ngModel name="name" placeholder="enter name"><br>
        <input type="text" class="form-control" ngModel name="username" placeholder="enter username"><br>
        <input type="email" class="form-control" ngModel name="email" placeholder="enter email"><br>
        <button class="btn btn-success btn-sm mb-3">Add New User</button>
    </form>
</section>


<section class="container" style="border: 10px solid orangered;">
    <app-footer></app-footer>
</section>